{{ $lang := site.Params.isso.lang | default "en" }}
{{ $css := site.Params.isso.css | default "true" }}
{{ $id := site.Params.isso.id | default "true" }}
{{ $avatar := site.Params.isso.avatar | default "true" }}
{{ $avatarbg := site.Params.isso.avatarbg | default "#f0f0f0" }}
{{ $feed := site.Params.isso.feed | default "false" }}
<article class="post">
<script
    data-isso="{{ site.Params.isso.data }}"
    data-isso-id="{{ $id }}"
    data-isso-css="{{ $css }}"
    data-isso-lang="{{ $lang }}"
    data-isso-reply-to-self="{{ site.Params.isso.replyToSelf }}"
    data-isso-require-author="{{ site.Params.isso.requireAuthor }}"
    data-isso-require-email="{{ site.Params.isso.requireEmail }}"
    data-isso-avatar="{{ $avatar }}"
    data-isso-avatar-bg="{{ $avatarbg }}"
    data-isso-feed="{{ $feed }}"
    src="{{ site.Params.isso.jsLocation }}">
</script>
<noscript>Please enable JavaScript to view the comments powered by <a href="https://posativ.org/isso/">Isso</a>.</noscript>
<div>
  <section id="isso-thread"></section>
</div>
</article>
