{{ define "main" }}
    <h1>{{ i18n .Data.Singular | humanize | markdownify }}</h1>
    {{ $pages := where .Pages "Params.private" "!=" true }}
    <div style="font-size: 0.75rem; color: var(--post-info-color)">
        <p style="margin-top: 0px;">{{ len $pages }} {{ i18n (.Data.Plural | humanize) | markdownify }}</p>
    </div>
    
    {{ range .Data.Terms }}
        {{ $nonPrivatePages := where .Pages "Params.private" "!=" true }}
        {{ $postsNum := len $nonPrivatePages }}
        {{ if gt $postsNum 0 }}
            <p><a href="{{ .Page.RelPermalink }}">{{ .Page.Title | markdownify }}</a> ({{ $postsNum }})</p>
        {{ end}}
    {{ end }}

{{ end }}
